%h1 Tonight's Game

%form{:action => "/pick", :method => "POST"}
  %p
    Number of options:
    %input{:type => "text", :name => "num_games",
      :value => params[:num_games] || 1}

  %p
    Number of players:
    %input{:type => "text", :name => "num_players",
      :value => params[:num_players]}

  %p
    Playtime:
    %input{:type => "text", :name => "playtime",
      :value => params[:playtime]}

  %p
    Heaviness:
    %select{:name => "category"}
      - ["", "light", "medium", "heavy"].each do |cat|
        %option{:value => cat, :selected => params[:category] == cat} #{cat.capitalize}

  %input{:type => "submit", :value => "Pick"}
